<!DOCTYPE html>

<html>
    <head>
        <title>Admin Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-sm bg-light container">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{'/'}" style="color: burlywood;">Admin Dashboard</a>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item" th:text="${loggedEmail}" style="margin-top: 8px; margin-right: 10px; color: burlywood"></li>
                    <li class="nav-item"><a th:href="@{'/admin-logout'}" class="nav-link" style="color: burlywood;"><b>Logout</b></a></li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <h2>Books Details</h2>
                    <a th:href="@{'/add-new-book'}"><h5>Add New Book</h5></a>
                    <table class="table table-striped">
                        <tr>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        
                        <tr th:each="book : ${bookList}">
                            <td th:text="${book.name}"></td>
                            <td th:text="${book.author}"></td>
                            <td th:text="${book.publisher}"></td>
                            <td th:text="${book.category}"></td>
                            <td th:text="${book.quantity}"></td>
                            
                            <td><a th:href="'/edit-book/' + ${book.id}">Edit</a></td>
                            
                            <td><a th:href="'/delete-book/' + ${book.id}">Delete</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row" style="margin: 80px 0px 50px 0px;">
                <div class="col-md-12">
                    <h2 style="margin-top: 20px;">Books Reservation Details</h2>
                    
                    <table class="table table-striped">
                        <tr>
                            <th>Book Name</th>
                            <th>Reserved User</th>
                        </tr>
                        
                        <tr th:each="book, i : ${booksNameList}">
                            <td th:text="${book}"></td>
                            <td th:text="${usersNameList[i.index]}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row" style="margin: 80px 0px 50px 0px;">
                <div class="col-md-12">
                    <h2 style="margin-top: 20px;">Book Requests</h2>
                    
                    <table class="table table-striped">
                        <tr>
                            <th>Book Name</th>
                            <th>Author</th>
                        </tr>
                        
                        <tr th:each="r : ${requestList}">
                            <td th:text="${r.bookname}"></td>
                            <td th:text="${r.author}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
